.panel {
	max-width: 600px;
	margin: 10px auto;
}

.completed h3, .completed .task-description {
    color: #aaa !important;
    text-decoration: line-through;
}

.md-list-item-text a {
    text-decoration: none;
}

.deleted {
	display: none;
}

.content {
    display: block;
    min-height: 300px;
    background-color: #fff;
    box-shadow: 0px 2px 3px #eee;
}

form {
  width: 100%;
  box-sizing: border-box;
}

md-input-container.md-icon-float.flex {
    width: 100%;
}

md-list-item p {
    padding: 10px;
    font-size: 12px;
}

button.md-button {
    color: #fff !important;
}

.md-primary {
    background-color: cadetblue;
}

.md-default {
    background-color: #777;
}

.md-error {
    background-color: cadetblue;
}

.field-full-width {
    float: left;
    width: 100%;
    box-sizing: border-box;
}

button.md-default-theme {
    color: #999 !important;
}

span.md-subhead.short {
    color: #bbb;
    font-size: 11px !important;
}

table, th, td {
    border-collapse: collapse;
    box-sizing: border-box;
    width: auto;
    padding: 10px !important;
    font-size: 11px;
    border: 1px solid #eee;
}