<div class="panel" id="newbook">
	<div layout="column" ng-cloak class="md-inline-form">
		<md-toolbar class="md-primary _md _md-toolbar-transitions">
			<div class="md-toolbar-tools">
				<h3 class="ng-binding ng-isolate-scope">Simple Book CMS :: Add Item</h3>
				<md-button aria-label="Log Out" ng-click="logout()">Logout</md-button>
			</div>
		</md-toolbar>
		<div class="content">
			<md-subheader class="md-no-sticky">> Books</md-subheader>
			<form ng-submit="addBook()" layout-padding>
      			<md-input-container flex>
	      			<input class="tf" required ng-model="id" md-maxlength="10" placeholder="Enter ID">
	      		</md-input-container>
	      		<md-input-container flex>
	      			<input class="tf" required ng-model="title" md-maxlength="30" placeholder="Enter Title">
	      		</md-input-container>
	      		<md-input-container flex>
	      			<input class="tf" required ng-model="short_description" md-maxlength="50"  placeholder="Enter Short Description">
	      		</md-input-container>
	      		<md-input-container flex>
	      			<input class="tf" required ng-model="description"  md-maxlength="250" placeholder="Enter Description">
	      		</md-input-container>
	      		<md-input-container flex>
	      			<input class="tf" required ng-model="author" md-maxlength="25"  placeholder="Enter Author">
	      		</md-input-container>
	      		<md-input-container flex class="field-full-width">
	      			<md-datepicker ng-model="pub_date" required md-placeholder="Enter Date" md-open-on-focus>
	      			</md-datepicker>
	      		</md-input-container>
	      		<md-input-container class="field-full-width">
	      			<md-select placeholder="Select Category" required ng-model="category" md-on-open="loadCategories()">
				      <md-option ng-value="category.text" ng-repeat="category in categories">{{ category.text }}</md-option>
				    </md-select>
	      		</md-input-container>
      			<section layout="row" layout-sm="column">
      				<md-input-container flex>
		      			<input class="tf" ng-model="new_category" placeholder="Add New Category">
		      		</md-input-container>
      				<md-button class="md-primary nc-button" ng-click="addCategory()">+</md-button>
      			</section>
      			<section layout="row" layout-xs="column" layout-align="center center" layout-wrap>
		      		<md-button class="md-primary" ng-click="addBook()">Submit Item</md-button>
		      		<md-button class="md-default" ng-click="cancel()">Cancel</md-button>
      			</section>
      		</form>
		</div>
	</div>
</div>
