<div class="panel" style="max-width: 900px;">
	<div layout="column" ng-cloak class="md-inline-form">
		<md-toolbar  class="md-hue-2">
			<div class="md-toolbar-tools">
				<h3 class="ng-binding ng-isolate-scope">Simple Book CMS :: Dashboard</h3>
				<md-button aria-label="Log Out" ng-click="logout()">Logout</md-button>
			</div>
		</md-toolbar>
		<div class="content">
				<md-subheader class="md-no-sticky">> Books</md-subheader>
				<section layout>
					<table>
						<thead>
							<th>ID</th>
							<th>Title</th>
							<th>Short Description</th>
							<th>Description</th>
							<th>Author</th>
							<th>Date</th>
							<th>Category</th>
							<th>Actions</th>
						</thead>
						<tbody>
							<tr ng-repeat="book in books">
								<td>{{ book.book_id }}</td>
								<td>{{ book.title }}</td>
								<td>{{ book.short_description }}</td>
								<td>{{ book.description }}</td>
								<td>{{ book.author }}</td>
								<td>{{ book.date }}</td>
								<td>{{ book.category }}</td>
								<td>
									<md-button class="md-primary" ng-click="edit(book._id)">Edit</md-button>
									<md-button class="md-default" ng-click="delete(book._id)">Delete</md-button>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
			    <md-button class="md-primary" ng-click="addBook()">Add Item</md-button>
		</div>
	</div>
</div>
