<div class="panel" id="login-container">
	<div layout="column" ng-cloak class="md-inline-form">
		<md-toolbar class="md-primary _md _md-toolbar-transitions">
			<div class="md-toolbar-tools">
				<h3 class="ng-binding ng-isolate-scope">Simple Book CMS :: Login</h3>
			</div>
		</md-toolbar>
      	<div class="content">
      		<md-content layout-gt-sm="row" layout-padding>
	      		<form ng-submit="validatePassword()">
	      			<md-input-container flex>
		      			<input id="new-todo" class="tf" ng-model="password" type="password" placeholder="Enter Password"  autofocus>
		      		</md-input-container>
	      		</form>
	      	</md-content>
      	</div>
	</div>
</div>

